<span class="mdl-layout-title">{{lang 'BUFFERS'}}</span>
<nav class="mdl-navigation">
  {{#each buffers}}
  <a class="mdl-navigation__link" href="#" data-id="{{id}}" data-title="{{title}}">{{full_name}}</a>
  {{#each childs}}
  <a class="mdl-navigation__link" href="#" data-id="{{id}}" data-title="{{title}}">&nbsp;&nbsp;{{name}}</a>
  {{/each}}
  {{/each}}
</nav>