<li class="mdl-list__item mdl-list__item--three-line mdl-list__item--three-line-stretch mdl-grid">
  <span class="message-avatar mdl-cell--stretch mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
    <div class="message-avatar-wrapper" style="background-color: {{nickColor tags_array}};">
      <div class="message-avatar-text"><span>{{firstChar (getNick tags_array)}}</span></div>
    </div>
  </span>
  <span class="mdl-list__item-primary-content mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--2-col-phone">
    <span>{{getNick tags_array}}</span>
    <span class="mdl-list__item-text-body">{{raw2rich message}}</span>
  </span>
  <span class="mdl-list__item-secondary-content mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
    <span class="mdl-list__item-secondary-info">{{dateFormat date 'hh:mm:ss'}}</span>
  </span>
</li>